.ratingBar {
  display: flex;
}

.ratingButton {
  background: none;
  border: none;
  box-shadow: none;
}

.ratingButton:hover {
  background: none;
}

.ratingButton:focus {
  outline: none;
}

.nonEditable {
  pointer-events: none;
}

.ratingButton > svg {
  transform: scale(150%);
}

.ratingNumber {
  display: none;
}

.ratingSelect {
  display: none;

  padding: 0.8rem;
  background-color: var(--color-brand-800);
  border: 2px solid var(--color-gold-700);
  border-radius: var(--border-radius-sm);
}

@media (max-width: 25em) {
  .ratingBar {
    display: none;
  }

  .ratingNumber {
    display: block;
  }

  .ratingSelect {
    display: block;
  }
}

.hidden {
  display: none;
}
