.ratingBar {
  display: flex;
}

.ratingButton {
  background: none;
  border: none;
  box-shadow: none;
}

.ratingButton:hover {
  background: none;
}

.ratingButton:focus {
  outline: none;
}

.nonEditable {
  pointer-events: none;
}

.ratingButton > svg {
  transform: scale(150%);
}
