.hero {
  width: 100%;
  height: 40rem;

  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr 3fr;
  column-gap: 2.4rem;

  margin: 5rem 2.4rem;
}

.heroImage {
  grid-row: 1 / -1;
}

.heroTitle {
  text-align: right;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.heroText > span {
  text-align: right;
}
