.hero {
  width: 100%;
  height: 40rem;

  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr 3fr;
  column-gap: 2.4rem;

  margin: 5rem 2.4rem;
}

.heroImage {
  grid-row: 1 / -1;

  align-self: center;
}

.heroImage > img {
  width: 100%;
  height: auto;

  display: block;

  max-height: 100%;

  aspect-ratio: 3 / 2;
}

.heroTitle {
  text-align: right;

  padding-right: 4.8rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  padding-right: 4.8rem;
}

.heroText > span {
  text-align: right;
}

@media (max-width: 60em) {
  .heroText {
    font-size: 1.4rem;
  }
}

@media (max-width: 50em) {
  .hero {
    display: flex;
    flex-direction: column;

    gap: 2.4rem;

    height: auto;
  }

  .heroTitle {
    text-align: left;
    padding-left: 2.4rem;
  }

  .heroText {
    padding-left: 2.4rem;
  }

  .heroText > span {
    text-align: left;
  }
}

@media (max-width: 25em) {
  .hero {
    margin: 5rem 0rem;
  }

  .heroTitle {
    padding: 0;
  }

  .heroText {
    padding: 0;
  }
}
