.usernameWidget {
  display: flex;
  gap: 1.2rem;
}

.userImage {
  width: 5rem;
  height: 5rem;
}

.userImage > img {
  width: 100%;
  height: auto;

  aspect-ratio: 1 / 1;

  border-radius: 50%;

  border: 2px solid var(--color-gold-300);
}

.userName {
  font-weight: 600;
  font-style: italic;
}
