.quantitySelect {
  background-color: var(--color-brand-500);
  border: 2px solid var(--color-gold-300);

  border-radius: var(--border-radius-sm);

  padding: 0.8rem 1.2rem;

  font-weight: 500;
}

.addRemoveSection {
  display: flex;
  gap: 2.4rem;
}
