*:root {
  --color-brand-100: #d39b7d;
  --color-brand-200: #bb8a6f;
  --color-brand-300: #a47861;
  --color-brand-400: #8c6753;
  --color-brand-500: #755646;
  --color-brand-600: #5e4538;
  --color-brand-700: #46342a;
  --color-brand-800: #2f221c;
  --color-brand-900: #17110e;

  /* Gold */
  --color-gold-100: #f8f9d3;
  --color-gold-300: #f3f5b8;
  --color-gold-500: #f0f2a6;
  --color-gold-700: #c0c285;

  /* Blue */
  --color-blue-300: #2b50aa;
  --color-blue-600: #132a64;

  /* Grey */
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  /* Red */
  --color-red-100: #ffdfdf;
  --color-red-400: #f5685e;
  --color-red-600: #db2727;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  /* Green */
  --color-green-300: #69db7c;
  --color-green-500: #2b8a3e;

  /* Shadow */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  /* Radius */
  --border-radius-sm: 3px;
  --border-radius-md: 5px;
  --border-radius-lg: 7px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--color-brand-900);
  color: var(--color-gold-100);
}

html {
  font-size: 62.5%;
  height: 100%;

  overflow: hidden;
}

body {
  font-family: var(--font-main), "Nunito", "Helvetica", Arial, Helvetica,
    sans-serif;
  color: var(--color-gold-300);
  background-color: var(--color-brand-800);
  transition: color 0.3s, background-color 0.3s;
  line-height: 1.5;
  font-size: 1.6rem;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: scroll;
  flex: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;

  padding: 0.8rem 1.2rem;

  background-color: var(--color-brand-700);

  border: 2px solid var(--color-gold-300);
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-md);

  transition: all 0.3s;
}

button:hover {
  background-color: var(--color-brand-400);
}

button:active {
  transform: scale(105%);
}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color-gold-100);
  outline-offset: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

img {
  max-width: 100%;
}

div,
p {
  cursor: default;
}

select {
  cursor: pointer;
}

* {
  scrollbar-color: var(--color-brand-300) transparent;
  scroll-padding: 3px;
}

*::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-600); /* color of the scroll thumb */
  border: 3px solid var(--color-brand-600); /* creates padding around scroll thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-brand-600); /* color of the scroll thumb */
  border: 3px solid var(--color-brand-600); /* creates padding around scroll thumb */
}
