.averageRating {
  display: flex;
  gap: 1.2rem;

  align-items: center;
  justify-content: center;
}

.averageRating > span {
  font-style: italic;
  font-weight: 600;
}

@media (max-width: 50em) {
  .averageRating {
    flex-direction: column;
  }

  .averageRating > div {
    padding-left: 80px;
  }
}

@media (max-width: 25em) {
  .averageRating {
    flex-direction: row;
  }

  .averageRating > div {
    padding-left: 0;
  }
}
