.searchItem {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: 6fr 1fr 1fr;

  transition: all 0.3s;
}

.searchItem:hover {
  transform: scale(105%);
}

.searchItem:active {
  transform: scale(110%);
}

.searchItemImage {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.searchItemImage > img {
  height: 75%;
  width: auto;
  aspect-ratio: 1 / 1;
}

.searchItemTitle {
  text-align: center;
}

.searchItemPrice {
  text-align: center;
}
