.searchItem {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: 6fr 1fr 1fr;

  transition: all 0.3s;
}

.searchItem:hover {
  transform: scale(105%);
}

.searchItem:active {
  transform: scale(110%);
}

.searchItemImage {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.searchItemImage > img {
  height: 75%;
  width: auto;
  aspect-ratio: 1 / 1;
}

.searchItemTitle {
  text-align: center;
}

.priceSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.searchItemPrice {
  text-align: center;
}

.saleStrike {
  text-decoration: line-through;
}

.salePrice {
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-red-600);
}

@media (max-width: 40em) {
  .searchItem {
    grid-template-rows: auto 1fr 1fr;
  }

  .searchItemTitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 30em) {
  .priceSection {
    flex-direction: column;
  }
}

@media (max-width: 25em) {
  .searchItemTitle {
    font-size: 1.2rem;
  }

  .searchItemPrice {
    font-size: 1.2rem;
  }
}
