.shoppingCartItem {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: 1.2rem;

  align-items: center;

  padding-bottom: 1.2rem;
  border-bottom: 2px solid var(--color-brand-500);
}

.quantityButtons {
  display: flex;
  gap: 0.5rem;

  align-items: center;
}

.quantityButton {
  border: none;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: none;
}

.quantityButton > svg {
  transition: all 0.3s;
}

.quantityButton > svg:hover {
  color: var(--color-gold-100);
  transform: scale(120%);
}

.quantityButton:focus {
  outline: none;
}

.cartItemLink {
  transition: all 0.3s;
}

.cartItemLink:hover {
  color: var(--color-gold-100);
  transform: scale(105%);
}

.cartItemLink:active {
  transform: scale(115%);
}
