.itemDetailsSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1.5fr 1fr 1fr;
  column-gap: 2.4rem;

  background-color: var(--color-brand-700);

  border: 7px double var(--color-brand-500);

  padding: 2.4rem;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
}

.itemDetailsImage {
  grid-row: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.itemDetailsImage > img {
  max-height: 500px;
  width: auto;

  aspect-ratio: 1 / 1;
}

.itemDetailsPane {
  display: flex;
  flex-direction: column;
}

.itemInformationBlock {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  padding: 2.4rem;
}

.nutritionInformation {
  font-size: 1.2rem;
}

.productInformation {
  font-size: 1.2rem;
}

.priceSection {
  display: flex;
  flex-direction: row;
  gap: 3.6rem;
}

.price {
  font-size: 1.8rem;
  font-weight: 700;
}

.priceSale {
  text-decoration: line-through;
}

.sectionBorder {
  border-bottom: 2px solid var(--color-brand-400);
}

.roastTag {
  display: inline-block;

  border-radius: var(--border-radius-md);
  padding: 0.8rem 1.2rem;

  margin-top: 3.6rem;

  font-size: 1.2rem;

  transition: all 0.3s;
}

.roastTag:hover {
  transform: scale(110%);
}

.roastTag:active {
  transform: scale(120%);
}

@media (max-width: 100em) {
  .itemDetailsSection {
    grid-template-columns: 2fr 1.5fr 1.5fr;
    grid-template-rows: 1.5fr 1fr;
  }

  .sectionBorder {
    border: none;
  }
}

@media (max-width: 75em) {
  .itemDetailsSection {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5fr 1fr 2.5fr 2.5fr;
  }

  .itemDetailsImage {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .price {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .about {
    grid-column: 1 / -1;
    grid-row: 3;
  }
}

@media (max-width: 40em) {
  .itemDetailsSection {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

@media (max-width: 25em) {
  .itemDetailsSection {
    padding: 0.8rem;
  }

  .itemInformationBlock {
    padding: 0.8rem;
  }

  .about {
    font-size: 1.4rem;
  }
}
