.cartButton {
  border: none;
  background-color: transparent;

  box-shadow: none;
}

.cartButton:hover {
  background: none;
}

.cartButton:focus {
  outline: none;
}

.cartButton > svg {
  transform: scale(200%);
}

.dropdown {
  position: absolute;

  right: 0;
  top: 100%;

  width: 35rem;
  max-height: 35rem;

  padding: 1.8rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  border-radius: var(--border-radius-md);
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  box-shadow: var(--shadow-md);

  overflow-y: auto;

  background-color: var(--color-brand-400);

  transform-origin: top;
  transition: all 0.3s;

  z-index: 997;
}

.inactive {
  transform: scaleY(0%);
}

.cartLink {
  cursor: pointer;

  padding: 0.8rem 1.2rem;

  background-color: var(--color-brand-500);

  border: 2px solid var(--color-gold-300);
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-md);

  transition: all 0.3s;

  text-align: center;
}

.cartLink:hover {
  background-color: var(--color-brand-400);
}

.cartLink:active {
  transform: scale(105%);
}
